# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# IDEA
.idea/

# R
.vscode/.browse.VC.db
.vscode/.browse.VC.db-shm
.vscode/.browse.VC.db-wal
GPATH
GRTAGS
GTAGS
Makeconf
Makedeps
Makefile
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
NEWS
NEWS.pdf
R.xcodeproj/project.xcworkspace/contents.xcworkspacedata
bin
config.log
config.status
doc
etc/Renviron
etc/javaconf
etc/ldpaths
/include
/lib
/library
libconftest.dSYM
libtool
modules
rdtrace_probes.h
share/dtrace/freebsd-vm/.vagrant
src/extra/intl/charset.alias
src/extra/intl/charsetalias.h
src/extra/intl/libgnuintl.h
src/include/Rmath.h0
src/include/config.h
src/include/stamp-h
src/library//all.R
src/library/DESCRIPTION
src/library/NAMESPACE
src/main/R.bin
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/f77_f2c
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Rscript
stamp-java
R.xcodeproj/project.xcworkspace/xcuserdata/krikava.xcuserdatad/UserInterfaceState.xcuserstate
R.xcodeproj/project.xcworkspace/xcuserdata/krikava.xcuserdatad/xcdebugger/Expressions.xcexplist
R.xcodeproj/xcuserdata/krikava.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
src/include/R_ext
Rconfig.h
*.tsa
*.ts
Rversion.h
stamp-R
*.inn
stamp-docs
/src/**/all.R
.Rproj.user
src/library/rdt/..Rcheck
cscope.out
cscope.files
