R.xcodeproj/project.xcworkspace/xcuserdata/krikava.xcuserdatad/UserInterfaceState.xcuserstate
R.xcodeproj/project.xcworkspace/xcuserdata/krikava.xcuserdatad/xcdebugger/Expressions.xcexplist
R.xcodeproj/xcuserdata/krikava.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
